__pycache__
cogs/__pycache__
modules/__pycache__
utils/__pycache__

.env
.dockerignore
feature_toggle.py
modules/databasev2.py.bak


modules/db.old.py
.venv
bot.log
utils/image_generator.py
utils/lbtest.py
utils/test.py
utils/hybrid_text_handler.py
utils/calendar_test.py